@font-face {
    font-family: "IRANSansX";
    font-style: normal;
    font-weight: bold;
    src: url(./fonts/IRANSansX-Medium.woff2) format("woff2");
    font-display: block;
  }
  
  body {
    font-family: "IRANSansX";
  }

@tailwind base;
@tailwind components;
@tailwind utilities;

